form#advanced_search(action='/search', method='get')
  .row
    .col-md-6
      .form-group
        label.control-label(for='AnnouncementSearch[eligible_country]') Eligible Country
        br
        select.selectpicker(name='AnnouncementSearch[eligible_country][]', multiple='true', size='4', title='Eligible Country', data-live-search='true', data-selected-text-format='count>3', data-size='5', style='display: none;')
          each c in eligibleCountry
            option(value=c.country_id)= c.short_name
    .col-md-6
      .form-group
        label.control-label(for='AnnouncementSearch[country]') Host Country
        br
        select.selectpicker(name='AnnouncementSearch[country][]', multiple='true', size='4', title='Country', data-live-search='true', data-selected-text-format='count>3', data-size='5', style='display: none;')
          each c in hostCountry
            option(value=c.country_id)= c.short_name
  .row
    .col-md-6
      .form-group
        label.control-label(for='AnnouncementSearch[study_field]') Study Level
        br
        select.selectpicker(name='AnnouncementSearch[study_field][]', multiple='true', size='4', title='Study Level', data-live-search='true', data-selected-text-format='count>3', data-size='5', style='display: none;')
          each c in studyFields
            option(value=c.id)= c.name
    .col-md-6
      .form-group
        label.control-label(for='AnnouncementSearch[disciplin]') Discipline
        br
        select.selectpicker(name='AnnouncementSearch[disciplin][]', multiple='true', size='4', title='Discipline', data-live-search='true', data-selected-text-format='count>3', data-size='5', style='display: none;')
          each c in disciplins
            option(value=c.id)= c.name
  .form-group
    label.control-label(for='AnnouncementSearch[deadline]') Deadline
    .clearfix.input-group
      input#deadline_range.form-control(type='text', name='AnnouncementSearch[deadline_range]', value='', placeholder='Start', style='width: 100%; float:left;', aria-describedby='deadline_range')
      span#deadline_range.input-group-addon
        span.glyphicon.glyphicon-calendar(aria-hidden='true')

      input#deadline_start.form-control(type='hidden', name='AnnouncementSearch[deadline_start]', value='', placeholder='Start', style='width: 100%; float:left;', aria-describedby='deadline_start', data-size='5')
      input#deadline_end.form-control(type='hidden', name='AnnouncementSearch[deadline_end]', value='', placeholder='End', style='width: 95%; float:right;', aria-describedby='deadline_end', data-size='5')
  .form-group
    label.control-label(for='AnnouncementSearch[event]') Event Start
    .clearfix.input-group
      input#event_range.form-control(type='text', name='AnnouncementSearch[event_range]', value='', placeholder='Start', style='width: 100%; float:left;', aria-describedby='event_range')
      span#event_range.input-group-addon
        span.glyphicon.glyphicon-calendar(aria-hidden='true')

      input#event_start.form-control(type='hidden', name='AnnouncementSearch[event_start]', value='', placeholder='Start', aria-describedby='event_start', style='width: 100%; float:left;', data-size='5')
      input#event_end.form-control(type='hidden', name='AnnouncementSearch[event_end]', value='', placeholder='End', style='width: 95%; float:right;', aria-describedby='event_end', data-size='5')
  button.btn.btn-primary.center-block(type='submit') Search opportunity
